@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  font-family: 'Inter', sans-serif;
}

.glass {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.1);
}





:theme {

  --color-primary: #20b2a6;
--color-primary-foreground: #ffffff;

--color-secondary: #1f2830;
--color-secondary-foreground: #20b2a6;

--color-muted: #252e37;
--color-muted-foreground: #7a8491;

--color-border: #242b32;

--radius: 0.75rem;

--color-highlight: #f5a623;
--color-surface: #1a2329;
}




/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
